.book-cover{
        float: left; 
        width: 35%;
        margin-right: 12px;
}

@media (min-width: 750px) {
	.book-cover{
                width: 20%; 
	}
}

/*@media (min-width: 750px) {
	.book-cover{
		width: 20%; 
	}
}*/
